.dots {
  --size: 1rem;
  --gap: 0.5rem;
  --pad: 1rem;

  display: flex;
  gap: var(--gap);
  width: fit-content;
  margin-inline: auto;
  padding-block: var(--pad);
  position: relative;
}

.dots a {
  width: var(--size);
  aspect-ratio: 1;
  box-shadow: inset 0 0 0 2px #e8290b;
}

.dots::after {
  content: "";
  position: absolute;
  top: var(--pad);
  left: 0;
  width: var(--size);
  aspect-ratio: 1;
  background: #0be893;
  pointer-events: none;

  animation: pill linear both;
  animation-timeline: --carousel;
}

@keyframes pill {
  to {
    translate: calc((var(--n) - 1) * (var(--size) + var(--gap)));
  }
}

@media (hover: hover) and (pointer: fine) {
  .dots {
    display: none;
  }
}
