.dots {
  --size: 6px;
  --gap: 4px;
  --pad: 8px;

  display: flex;
  gap: var(--gap);
  width: fit-content;
  margin-inline: auto;
  padding-block: var(--pad);
  position: relative;
}

.dots a {
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #e8290b;
}

.dots::after {
  content: "";
  position: absolute;
  top: var(--pad);
  left: 0;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0be893;
  pointer-events: none;

  animation: pill steps(var(--n), jump-none) both;
  animation-timeline: --carousel;
}

@keyframes pill {
  to {
    translate: calc((var(--n) - 1) * (var(--size) + var(--gap)));
  }
}
